:root {
  --pink: #E84878;
  --yellow: #FFE45E;
  --lightblue: #9EEAEA;
  --darkgray: #70677F;
  --gray: #EAF2F2;
}

@font-face {
    font-family: 'HSE Sans';
    src: url('fonts/HSESans-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

body {
background-color: #E0E0E0;
padding: 20px;

}

* {
    font-family: "HSE Sans"
}

button {
    cursor: pointer
}

button.pink {
   background-color: var(--pink);
   color: var(--gray);
   width: 500px;
   height: 56px;
   font-size: 18px;
   font-weight: 600;
   border: none;
   border-radius: 16px;
   transition: background-color 0.3s ease;
}

button.pink:hover {
    background-color: #D83465;
}

button.yellow {
   background-color: var(--yellow);
   color: black;
   width: 500px;
   height: 56px;
   font-size: 18px;
   font-weight: 600;
   border: none;
   border-radius: 16px;
   transition: background-color 0.3s ease;
}

button.yellow:hover {
    background-color: #F7DB52
}

button.white {
   background-color: white;
   color: black;
   width: 500px;
   height: 56px;
   font-size: 18px;
   font-weight: 600;
   border: none;
   border-radius: 16px;
   transition: background-color 0.3s ease;
}

button.white:hover {
    background-color: #D8D1D1;
}

button.inactive {
   background-color: var(--gray);
   color: black;
   width: 500px;
   height: 56px;
   font-size: 18px;
   font-weight: 600;
   border: none;
   border-radius: 16px;
   cursor: default;
}

.card {
    border-radius: 16px;
    width: 450px;
    height: 450px;
    position: relative;
    overflow: hidden;
}

.card-pic {
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.card-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: opacity 0.4s ease;
}

.card:hover .card-description {
    opacity: 0.8
}

.card-title {
font-size: 32px;
font-weight: 600;
line-height: 120%
}

.card-tags {
    display: flex; 
    gap: 10px;
    flex-wrap: wrap;}

.card-tag {
    border-radius: 100px;
    padding: 9px 17px;
    background-color: #FFE45E80;
    font-size: 16px
}

.modal {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    background: rgba(0,0,0,0.5)
}

.modal-card {
    position: absolute;
    padding: 24px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal-card-image {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 16px;
    max-height: 250px;
    pointer-events: none;
}

.modal-card-title {
    font-size: 32px;
    line-height: 120%
}

.modal-card-tags {
    display: flex; 
    gap: 10px;
    flex-wrap: wrap;}

.modal-card-tag {
    border-radius: 100px;
    padding: 9px 17px;
    background-color: #FFE45E80;
    font-size: 16px
}

.modal-card-price {
    font-weight: bold;
}

.hide-modal {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

input[type='range'] {
    -webkit-appearance: none;
    width: 300px;
    border-radius: 50px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none!important;
     background-image: url("/img/heart.svg");
     object-fit: cover;
     background-repeat: no-repeat;
    height:32px;
    width:32px;
    position: relative;
    top: -10px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 50px;
  }

.CustomCheckbox {
    display: none;
}
.CustomCheckbox + label {
    position: relative;
    padding-left: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.CustomCheckbox + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 3px;
}
.CustomCheckbox:checked + label::before {
    border-color: #00b50e;
    background-image: url('/img/tick.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.form-input {
    position: relative;
}
.form-input input {
    height: 8px;
    width: 186px;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 16px;
    padding-right: 30px;
}

.form-input input:focus {
    background-color: var(--gray);
}

.form-input .placeholder {
    position: absolute;
    color: var(--darkgray);
    top: 8px;
    left: 16px;
    transition: 0.3s ease;
}

.form-input input:focus + .placeholder, .form-input input:not(:placeholder-shown) + .placeholder {
    position: absolute;
    top: 2px;
    left: 16px;
    font-size: 8px;
}

.form-input-pic-container {
    height: 40px; 
    width: 40px; 
    display: flex; 
    align-items: center; 
    position: absolute; 
    top: 0; 
    left: 192px; 
    justify-content: center;
}

.form-input input.error {
    outline: 1px solid #EA0D4F;
}

.grid-container {
    display: grid;
    width: fit-content;
     gap: 20px;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, 1fr);
     grid-template-areas:
     "A B E"
     "C D E"
}

.grid-element-a {
    grid-area: A;
    background: var(--yellow)
}

.grid-element-b {
    grid-area: B;
     background: var(--pink);
}

.grid-element-c {
    grid-area: C;
     background: var(--lightblue);
}

.grid-element-d {
    grid-area: D;
    background: var(--yellow);
}

.grid-element-e {
    grid-area: E;
    height: 460px!important;
    background: white;
}

[class^="grid-element-"] {
    width: 400px;
    height: 200px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.grid-title {
    font-size: 32px;
    font-weight: 600;
}

.grid-description {
    font-size: 22px;
    font-weight: 400;
}

.icons{
    width: fit-content;
    height: fit-content;
    
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;

  }

  .icons-content{
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }
